<!doctype html>
<head>
<header> <h2 style="color:blue;">Priyam Banerjee | University of Texas at Arlington </h2> </header>
</head>
<html>
	<body>
		<center>
		
        <form action="/ctb" method="POST" enctype="multipart/form-data">
        Select a file: <input type="file" name="myf" value="myf"><br><br>
        <input type="submit">
        </form><br><br>
        Enter interval : <input type="text" name="ageinterval"><br><br>
                
        <form action="/barchart" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Show Barchart">
        </form><br>
        
        <form action="/piegraph" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Show Pie Graph">
        </form><br>
        
        <form action="/scattergraph" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Show Scatter Graph">
        </form><br>
        
        <form action="/imagedisplay" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Display Image">
        </form><br>
      </center>
	</body>
</html>