<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([['Survived','Age'],[0,4],[1,16],[1,25],[1,66],[1,49],[0,22],[0,30],[0,55],[1,80],[0,14],[0,45],[0,11],[1,21],[0,10],[0,15],[0,33],[1,52],[1,44],[1,32],[1,15],[0,26],[1,41],[1,41],[1,44],[1,60],[1,61],[1,61],[1,62],[0,71],
[1,44],[1,42],[1,43],[0,44],[0,41],[0,42],[1,20],[1,13],[1,11],[0,16],[0,17],[1,14],[1,10],[1,20],[0,11],[1,16],[1,20],[1,20],[1,19],[0,15],[1,10],[1,13],[1,12],
[1,14],[1,19],[1,17],[1,38],[1,39],[0,38],[1,77],[1,77],[1,72],[1,74],[0,77],[0,74],[0,72],[1,76],[1,78],[1,75],[1,22],[0,14],[0,11],[0,24]]);

        var options = {
          title: 'Age vs. Survived comparison',
          hAxis: {title: 'Survived', minValue: -1, maxValue: 2},
          vAxis: {title: 'Age', minValue: 0, maxValue: 100},
          legend: 'Age'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <h2 style="color:green;">Priyam Banerjee | University of Texas at Arlington </h2>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>